<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prueba de Enfermería con proyección internacional</title>
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg bg-info">
    <div class="container-fluid">
        <a class="navbar-brand fw-bolder">Prueba de Enfermería con proyección internacional</a>
        <span>Preguntas abiertas</span>
    </div>
</nav>
</body>
<hr>
<body>
<div class="card">
  <h5 class="card-header row justify-content-center align-content-center">
    Primera pregunta
  </h5>
  <div class="card-body">
    <h5 class="card-title">¿De qué manera el principio de autonomía del paciente varía en diferentes marcos jurídicos y culturales a nivel mundial?</h5>
    <input type="text" name="respuesta" class="form-control mb-3" placeholder="Escriba su respuesta aquí">
  </div>
</div>
<hr>
<div class="card">
  <h5 class="card-header row justify-content-center align-content-center">
    Segunda pregunta
  </h5>
  <div class="card-body">
    <h5 class="card-title">¿Cómo colaboran organismos como la Organización Mundial de la Salud (OMS) o el Consejo Internacional de Enfermeras en la unificación de los criterios de atención?</h5>
    <input type="text" name="respuesta" class="form-control mb-3" placeholder="Escriba su respuesta aquí">
  </div>
</div>
<hr>
<div class="card">
  <h5 class="card-header row justify-content-center align-content-center">
    Tercera pregunta
  </h5>
  <div class="card-body">
    <h5 class="card-title">¿Cómo puede la investigación en enfermería a escala global contribuir a la creación de políticas públicas transnacionales para prevenir futuras pandemias?</h5>
    <input type="text" name="respuesta" class="form-control mb-3" placeholder="Escriba su respuesta aquí">
  </div>
</div>
<hr>
<div class="card">
  <h5 class="card-header row justify-content-center align-content-center">
    Cuarta pregunta
  </h5>
  <div class="card-body">
    <h5 class="card-title">¿Qué dilemas éticos enfrenta una enfermera al brindar cuidados en contextos de crisis humanitaria o conflictos bélicos?</h5>
    <input type="text" name="respuesta" class="form-control mb-3" placeholder="Escriba su respuesta aquí">
  </div>
</div>
<hr>
   <div class="card">
  <h5 class="card-header row justify-content-center align-content-center">
    Quinta pregunta
  </h5>
  <div class="card-body">
    <h5 class="card-title">¿Qué barreras idiomáticas y de adaptación al entorno laboral experimenta un profesional de enfermería al emigrar a un país con alta demanda sanitaria?</h5>
    <input type="text" name="respuesta" class="form-control mb-3" placeholder="Escriba su respuesta aquí">
  </div>
</div>
    <hr>
    <a href="{{url_for('finalización')}}" class="btn btn-primary w-100">Entregar prueba</a>
</body>
</html>